version: '3.8'

services:
  app:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: laravel-app
    volumes:
      - ./:/var/www
      - ./storage:/var/www/storage
    environment:
      - DB_HOST=mysql
      - DB_DATABASE=qr_code_ordering_system
      - DB_USERNAME=username
      - DB_PASSWORD=javaspringboot
    depends_on:
      - mysql


  mysql:
    image: mysql:8.0
    container_name: laravel-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: qr_code_ordering_system
      MYSQL_USER: root
      MYSQL_PASSWORD: javaspringboot
    volumes:
      - mysql-data:/var/lib/mysql

  redis:
    image: redis:alpine
    container_name: laravel-redis

volumes:
  mysql-data:
